/*
.color-primary-0 { color: #2D882D }	 Main Primary color 
.color-primary-1 { color: #57CD57 }
.color-primary-2 { color: #41AB41 }
.color-primary-3 { color: #1D651D }
.color-primary-4 { color: #104310 }
*/

.strike {
    text-decoration: line-through;
}

h1, p, * {
    font-family: Open Sans, sans-serif;
    color: #fff;
}

h1, h1 span {
    color: #fff;
    font-family: Ubuntu, sans-serif;
}

.gen {
    max-width: 95%;
}

body {
    background-color: #2F72FF;
}

input {
    color: black;
}

input[type="text"][disabled] {
   background-color: grey;
}

.pageinner {
    max-width: 70%;
    background-color: #0040FF;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    padding-top: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
    max-width: 99.5%;
}